/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Maksukortti/
/recipebook/nbproject/
/recipebook/target/
/recipebook/src/main/resources/
/recipebook/src/test/resources/
/todo.txt
/recipebook/src/main/java/recipebook/ui/Gui2.java

